.cookies{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  min-height: 8vh;
  width: 100%;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.cookies.accepted{
  display: none;
}

.cookies p span{
  font-family: 'Montserrat', sans-serif;
}

.cookies p span:nth-child(2){
  color: #F12B81;
  cursor: pointer;
}

.cookies button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 5px;
  height: 30px;
  width: 120px;
  background-color: #F12B81;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  font-weight: 600;
  color: white;
  border: 2px solid #F12B81;
  box-shadow: 4px 4px 0 1px #000;
  cursor: pointer;
  transition: .2s;
}

.cookies button:hover {
  background-color: white;
  color: #F12B81;
}