div.burger{
  width: 200px;
  height: 26px;
  background-color: white;
}

div.burger .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 40px;
  cursor: pointer;
}

div.burger .wrapper span {
  display: block;
  background: #000;
  height: 2px;
  width: 40px;
  /* border-radius: 2px; */
  /* animation-direction: both, reverse; */
}

div.burger .wrapper span:nth-child(1).active{
  animation: first .5s both;
}

div.burger .wrapper span:nth-child(1).deactive{
  animation: reverse-first .5s both;
}

div.burger .wrapper span:nth-child(2).active{
  animation: second .5s both;
}
div.burger .wrapper span:nth-child(2).deactive{
  animation: reverse-second .5s both;
}

div.burger .wrapper span:nth-child(3).active{
  animation: third .5s both;
}

div.burger span:nth-child(3).deactive{
  animation: reverse-third .5s both;
}

/* @keyframes first {
  0%{
    transform: translateY(0) rotate(0);
  }
  50%{
    transform:  translateY(calc(13px - 50%)) rotate(0);
  }
  100%{
    transform:  translateY(calc(13px - 50%)) rotate(45deg);
  }
}

@keyframes second {
  0%{
    opacity: 1;
  }
  49%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}


@keyframes third {
  0%{
    transform: translateY(0) rotate(0);
  }
  50%{
    transform:  translateY(calc(-13px + 50%)) rotate(0);
  }
  100%{
    transform:  translateY(calc(-13px + 50%)) rotate(-45deg);
  }
}

@keyframes reverse-first {
  0%{
    transform:  translateY(calc(13px - 50%)) rotate(45deg);
  }
  50%{
    transform:  translateY(calc(13px - 50%)) rotate(0);
  }
  100%{
    transform: translateY(0) rotate(0);
  }
}

@keyframes reverse-second {
  0%{
    opacity: 0;
  }
  49%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes reverse-third {
  0%{
    transform:  translateY(calc(-13px + 50%)) rotate(-45deg);
  }
  50%{
    transform:  translateY(calc(-13px + 50%)) rotate(0);
  }
  100%{
    transform: translateY(0) rotate(0);
  }
} */


