.hero{
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.hero .image{
  width: 1280px;
  height: 70vh;
  background-position: center center;
}

.hero .image .animation .filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  animation: slider 7s infinite;
}

.hero .image .animation{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .4);
  animation: slider-filter 7s infinite;
}

.hero .image .filter h1{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  letter-spacing: 4px;
}

.hero .image .filter .tags span{
  margin: 15px;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}

.hero .image .filter .tags span:nth-child(odd){
  color: #00dacd;
}

.hero .image .filter .tags span:nth-child(even){
  color: #F12B81;
}

@keyframes slider-filter{
  0%{
    background-color: rgba(255, 255, 255, 1);
  }
  5%{
    background-color: rgba(255, 255, 255, 1);
  }
  15%{
    background-color: rgba(255, 255, 255, 0);
  }
  85%{
    background-color: rgba(255, 255, 255, 0);
  }
  95%{
    background-color: rgba(255, 255, 255, 1);
  }
  100%{
    background-color: rgba(255, 255, 255, 1);
  }
}

@keyframes slider{
  0%{
    background-color: rgba(0, 0, 0, 0);
  }
  5%{
    background-color: rgba(0, 0, 0, 0);
  }
  15%{
    background-color: rgba(0, 0, 0, .4);
  }
  85%{
    background-color: rgba(0, 0, 0, .4);
  }
  95%{
    background-color: rgba(0, 0, 0, 0);
  }
  100%{
    background-color: rgba(0, 0, 0, 0);
  }
}

@media (min-width: 319px) and (max-width: 560px){
  .hero .image{
    min-width: 100vw;
  }
  .hero .image .filter h1{
    font-size: 2.5rem;
  }
  .hero .image .filter .tags span{
    margin: 10px;
    font-size: 1.5rem;
  }
}

