/* Background pattern from Toptal Subtle Patterns */

.sandwiches{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 70vh;
  margin: 50px 0;
}

/* .sandwiches .background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../../images/background.png');
  filter: opacity(25%);
  z-index: -1;
} */

.sandwiches h3{
  font-size: 2rem;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px #00dacd;
}

.sandwiches .sandwiches-info{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 100%;
  width: 100%;
}

.sandwiches .sandwiches-info .sandwich{
  position: relative;
  height: 400px;
  width: 300px;
  margin: 50px;
  filter: drop-shadow(0 0 7px #aaa);
  z-index: 1;
}

.sandwiches .sandwiches-info .sandwich .front,
.sandwiches .sandwiches-info .sandwich .back{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  transition: .7s;
}

.sandwiches .sandwiches-info .sandwich .front{
  background-color: white;
}

.sandwiches .sandwiches-info .sandwich .front span{
  margin-top: 10px;
  align-self: flex-end;
  font-family: 'Montserrat', sans-serif;
}

.sandwiches .sandwiches-info .sandwich .front .name{
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 2px 2px #00dacd;
}

.sandwiches .sandwiches-info .sandwich .front .additives{
  font-size: .8rem;
}

.sandwiches .sandwiches-info .sandwich .front .sandwich-image{
  height: 80%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}

.sandwiches .sandwiches-info .sandwich .back{
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#F12B81, #00dacd);
}

.sandwiches .sandwiches-info .sandwich .back ul{
  list-style: none;
}

.sandwiches .sandwiches-info .sandwich .back ul li{
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.sandwiches .sandwiches-info .sandwich .front{
  transform: perspective(900px) rotateY(0deg);
}

.sandwiches .sandwiches-info .sandwich .back{
  transform: perspective(900px) rotateY(180deg);
}

.sandwiches .sandwiches-info .sandwich:hover .front{
  transform: perspective(900px) rotateY(-180deg);
}

.sandwiches .sandwiches-info .sandwich:hover .back{
  transform: perspective(900px) rotateY(0deg);
}

@media (max-width: 380px){
  .sandwiches h3{
    margin: 10px;
  }
}
@media (max-width: 480px){
  .sandwiches .sandwiches-info .sandwich{
    height: 300px;
    width: 200px;
  }
  .sandwiches .sandwiches-info .sandwich .back ul li{
    font-size: 1rem;
  }
}

@media (max-width: 1024px){
  .sandwiches h3{
    margin-top: 40px;
    font-size: 1.3rem;
  }
}





