.main-places{
  max-width: 1280px;
  min-height: 40vh;
  margin: 0 auto;
}

.main-places .places{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40vh;
  flex-grow: 1;
}

.main-places .places div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  cursor: pointer;
  transition: .3s;
}

.main-places .places div span{
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  margin: 10px;
  text-align: center;
}

.main-places .places div:nth-child(odd){
  background-color: #000;
  color: #fff;
  text-shadow: 1px 1px #F12B81;
}

.main-places .places div:nth-child(even){
  background-color: #fff;
  color: #000;
  text-shadow: 1px 1px #00dacd;
}

.main-places .places div:nth-child(even):hover{
  background-color: #00dacd;
  color: #fff;
  text-shadow: 1px 1px #F12B81;
}

.main-places .places div:nth-child(odd):hover{
  background-color: #F12B81;
  color: #000;
  text-shadow: 1px 1px #00dacd;
}


@media(max-width: 1024px){
  .main-places .places{
    flex-direction: column;
    min-height: 80vh;
  }
  .main-places .places div span{
    font-size: 1rem;
  }
}