.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  max-width: 1280px;
  margin: 0 auto;
}

.info .opening-hours,
.info .phone-email,
.info .address{
width: 350px;
text-align: center;
}

.info .opening-hours span,
.info .phone-email span,
.info .address span{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.info .opening-hours span:nth-child(2){
  margin-left: 20px;
  font-size: 2rem;
  text-shadow: 2px 2px #00dacd;
  font-weight: 700;
}

.info .phone-email a{
  display: block;
  color: #000;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: .2s;
}

.info .phone-email a:nth-child(1):hover{
  color: #F12B81;
}

.info .phone-email a:nth-child(2):hover{
  color: #00dacd;
}

.info .address{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

@media(max-width: 1024px){
  .info{
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    width: 100vw;
  }
}

@media(max-width: 560px){
  .info .opening-hours,
  .info .phone-email,
  .info .address{
    width: 100%;
  }
  .info .opening-hours span:nth-child(2){
    margin-left: 10px;
  }

}