.loading{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  box-shadow: 0 0 10px 4px #ddd;
  z-index: 1;
}

.loading .dots{
  display: flex;
  width: 100px;
  margin-top: 2.5rem;
  justify-content: space-evenly;
}

.loading .dot{
  width: 10px;
  height: 10px;
  background-color: #000;
  opacity: .5;
  transform: scale(1);
  border-radius: 50%;
  animation: dot infinite 1.5s;
}

.loading .dot:nth-child(2){
  animation-delay: .5s;
}

.loading .dot:nth-child(3){
  animation-delay: 1s;
}

@keyframes dot{
0%{
  opacity: .5;
  transform: scale(1);
}
33%{
  opacity: 1;
  transform: scale(1.5);
}
66%{
  opacity: .5;
  transform: scale(1);
}
100%{
  opacity: .5;
  transform: scale(1);
}
}

.loading-exit {
  transform: translateY(0);
}

.loading-exit-active {
  transform: translateY(-110%);
  transition: 1.5s;
}

@media (min-width: 320px) and (max-width: 540px) {
  .loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
}
