.nav-span a{
  text-decoration: none;
  transition: .2s;
  transform-origin: center right;
}

.nav-span a{
  display: block;
  text-align: right;
  color: #F12B81;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  width: 200px;
}

.nav-span a:hover{
  transform: scale(1.1);
}

@media (max-width:480px){
  .nav-span{
    display: none;
  }
}