nav{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  transition: .25s;
  z-index: 1;
}

nav .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
}

@media (max-width: 480px){
  nav{
    position: fixed;
    width: 100%;
  }

  nav .wrapper{
    width: 100%;
    justify-content: space-evenly;
  }
}