.menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;;
  display: flex;
  height: 100vh;
  width: 100%;
  transform: translateX(-100%);
  background-color: white;
  z-index: 1;
  transition: .6s;
}

.menu.active{
  transform: translateX(0);
}

.menu section{
  height: 100%;
}

.left{
  height: 100%;
  width: 40%;
}

.right{
  position: relative;
  width: 60%;
  background-image: url('../../images/map.jpg');
  background-position: bottom;
  background-size: cover;
}

.right .map{
  position: absolute;
  height: 100%;
  width: 100%;
}

.right .map:hover + .open-maps{
  opacity: 1;
}

.right .open-maps:hover{
  opacity: 1;
}

.right .open-maps{
  position: absolute;
  top:50%;
  left: 50%;
  color: #F12B81;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .3s;
  cursor: pointer;
}

.right .close{
  position: absolute;
  margin: 20px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 100px;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.right .close span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #F12B81;
  font-size: 1.6rem;
}

.left div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 17.5vh;
}

.left div span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}

.left div span:hover{
  color: #00dacd;
}

.left div::after{
  content: '';
  display: block;
  margin-top: 10px;
  height: 6px;
  width: 50px;
}

.left div:nth-child(even)::after{
  background-color: #00dacd;
}

.left div:nth-child(odd)::after{
  background-color: #F12B81;
}

.left div:nth-child(even){
  background-color: #fff;
  color: black;
}

.left div:nth-child(odd){
  background-color: black;
  color: white;
}

.left div:nth-child(5){
  height: 30vh;
}

.left div:nth-child(5)::after,
.left div:nth-child(5) .socials::after,
.left div:nth-child(5) .social::after {
  display: none;
}

.left div:nth-child(5) img{
  height: 100px;
}

.left div:nth-child(5) .socials span{
  font-size: 1rem;
}

.left div:nth-child(5) .socials{
  flex-direction: row;
  max-width: 400px;
}

.left div:nth-child(5) .social{
background-color:black;
}

.left div:nth-child(5) .social .quality{
  margin-bottom: 10px;
  color: #00dacd;
  cursor: auto;
}

.left div:nth-child(5) .social .social-span{
  margin-bottom: 10px;
  color: #F12B81;
  cursor: auto;
}

.left-close{
  position: absolute;
  top: 5px;
  right: 5px;
}

@media (max-width: 1024px){
  .right{
    display: none;
  }
  .left{
    width: 100%;
  }
  .left div span{
    font-size: 1rem;
  }
  .left div:nth-child(5) .socials{
    flex-direction: column;
  }
  .left div:nth-child(5) img{
    height: 80px;
    margin-bottom: 10px;
  }
  .left div:nth-child(5) .socials span{
    font-size: .7rem;
  }
}

@media (min-width: 1025px){
  .left-close{
    display: none;
  }
}



